player-connection-mode=Listen
player-connection-guid=1301887058
player-connection-debug=0
player-connection-project-name=Project Warhawk
player-connection-ip=26.122.186.8
player-connection-ip=192.168.31.196
player-connection-ip=192.168.137.1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=29fc64615e1a4cd38be17f5df2803953
